env = "prod"

# Variables for Virtual Network
location      = "West US 2"
vnet_addr     = ["10.0.0.0/16"]
subnet1_addr  = "10.0.1.0/24"
subnet2_addr  = "10.0.2.0/24"
subnet3_addr  = "10.0.3.0/24"

# Variables for event_grid
topic              = "foo"

# Variables for function
function_bolb_name = "functioncsye6225"
