env = "foo"

# Variables for VPC creation
aws_region = "foo"
subnet1_az = "foo"
subnet1_cidr = "foo"
subnet1_name = "foo"
subnet2_az = "foo"
subnet2_cidr = "foo"
subnet2_name = "foo"
subnet3_az = "foo"
subnet3_cidr = "foo"
subnet3_name = "foo"
vpc_cidr = "foo"
vpc_name = "foo"

# Variables for Database
s3_bucket_name = foo

# Variables for RDS database instance
db_identifier           = "foo"
allocated_storage       = "foo"
storage_type            = "foo"
database_engine         = "foo"
database_engine_version = "foo"
instance_class          = "foo"
db_name                 = "foo"
db_username             = "foo"
db_password             = "foo"
publicly_accessible     = "foo"

# Variables for EC2 instance
aws_account_id              = "foo"
ebs_block_name              = "foo"
ebs_volume_type             = "foo"
ebs_volume_size             = "foo"
ebs_delete_on_termination   = "foo"
ec2_termination_disable     = "foo"
ec2_instance_type           = "foo"
ec2_instance_name           = "foo"

# Variables for DynamoDB
dynamo_billing_mode   = "foo"
dynamo_table_name     = "foo"