aws_region = "foo"
subnet1_az = "foo"
subnet1_cidr = "foo"
subnet1_name = "foo"
subnet2_az = "foo"
subnet2_cidr = "foo"
subnet2_name = "foo"
subnet3_az = "foo"
subnet3_cidr = "foo"
subnet3_name = "foo"
vpc_cidr = "foo"
vpc_name = "foo"

s3_bucket_name = foo